.pages__wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.page {
    margin: 5px;
}

.page__current {
    background-color: rgb(137, 176, 176) !important;
    font-weight: bold;
    color: white !important;
}