* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid teal;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__content {
    max-width: 85%;
}

.post__content p, .post__content strong {
    word-wrap: break-word;
}

.post__buttons {
    align-self: flex-start;
}

.post__buttons button:hover {
    background-color: rgb(248, 182, 182);
}